/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,200;1,600&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}
.container{
   width: 100%;
   background-image: url(./assets/gradient-abstract-football-background_52683-66767.webp);
   background-size: cover;
    display: flex;
    color: #fff;
    height: 60% ;
    width: 100%;
}
.text-part{
    
    padding: 10%;
    
}
.text-part h1{
    font-size: 60px;
    font-weight: 600;
    padding: 5px;
}
.container img{
    width: 50%;
    height: 60%;
    margin-top: 80px;
    padding-right: 9%;
}
.banner-btn{
    width: 187px;
    height: 57px;
    margin: 7px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transform: 2s;
}
.banner-btn:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 2px #000;
    z-index: 2 ;
    
}
.banner-btn i{
    color: rgb(53, 53, 255);
}
.cart-container{
    display: flex;
    padding:15px;
    width: 100%;
    
    
}
.link-menu{
    background-color: black;
         height: 312px;
     width: 312px;
     margin: 10px;
    padding: 10px;
    border-radius: 10%;
    position: relative;
}
ul{
    list-style: none;
    text-decoration: none;
    padding: 20px;
    justify-content: center;
    
}
 .link-menu ul li {
    background-color: white;
    width: 252px;
    height: 64px;
    margin: 10px;
    border-radius: 25px;
       
} 
 a{
    text-decoration: none;
    font-size: 20px;
     padding: 2%;
    text-align: center;
    color: black;
    font-weight: 500;
}
.players-cart{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}

.cart{
    width: 299px;
    height: 362px;
  border-radius: 5px;
  border: gray 2px solid;
  margin: 10px;
  transition: 1s;
  
}

.cart-img{
    width: 296px;
    
}
.two-icons{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 7px;
    padding: 3px;
}
footer{
    background-color: black;
    color: #fff;
    width: 100%;

}
h3{
    text-align: center;
    
}


.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
   

}
.footer-link i{
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.footer-link li{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerli{
    text-align: center;
}


/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px)  {
    .players-cart{
        grid-template-columns: repeat(1,1fr);
    }
    .cart-container{
        flex-direction: column;
    }
    .container{
        flex-direction: column;
        width: 100%;
        
    }
    .cart{
        width: 100%;
    }
   
    .footer-link{
        flex-direction: column;
    }
}
/* Extra small devices (phones, 600px and down) */



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 481px) and (max-width:768px) {
    .players-cart{
        grid-template-columns: repeat(2,1fr);
    }
    .cart-container{
        flex-direction: column;
    }
    .link-menu {
        flex-direction: row;
    }
    .container{
        flex-direction: column;
        width: 100%;
        
    }
    
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .cart-container{
        grid-template-columns: repeat(3,1fr);
    }
}